rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /programs/{programId} {
      allow read:           if request.auth != null;
      allow create:         if request.auth != null && request.resource.data.trainerId == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.trainerId == request.auth.uid;
    }

    match /users/{uid} {
      allow read:   if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null;
      allow delete: if false;
    }

  }
}
